<div class="space-y-6">
  <div>
    <h1 class="text-3xl font-bold italic"><%= post.title %></h1>
    <% if post.sub_title.present? %>
      <h3 class="text-lg mb-2 "><%= post.sub_title %></h3>
    <% end %>
    <p class="text-sm"><strong>Client:</strong> <%= post.client %></p>
    <p class="text-sm"><strong>Year:</strong> <%= post.release_year %></p>
    <% if post.private_post %>
      <span class="inline-block text-xs bg-red-500 text-white px-2 py-1 rounded">Private</span>
    <% end %>
    <% if post.description.present? %>
      <p class="mt-4"><%= simple_format(post.description) %></p>
    <% end %>
  </div>
  <% if post.images.attached? %>
    <% post.images.each do |image| %>
      <%= image_tag image, class: "w-full h-auto object-cover rounded-lg shadow" %>
    <% end %>
  <% end %>
</div>
